USE [EEA_CAS_Enterprise]
GO
/****** Object:  Table [dbo].[ActivityType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityType](
	[activityTypeId] [uniqueidentifier] NOT NULL,
	[activityTypeCode] [nvarchar](255) NOT NULL,
	[activityTypeName] [nvarchar](255) NOT NULL,
	[activityTypeDesc] [nvarchar](255) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_ActivityType] PRIMARY KEY CLUSTERED 
(
	[activityTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[App]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[App](
	[appId] [uniqueidentifier] NOT NULL,
	[appName] [nvarchar](20) NOT NULL,
	[appToken] [nvarchar](36) NOT NULL,
	[appDesc] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[appId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppAppDataSharedApi]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppAppDataSharedApi](
	[appAppDataSharedApiId] [uniqueidentifier] NOT NULL,
	[appId] [uniqueidentifier] NOT NULL,
	[appDataId] [uniqueidentifier] NOT NULL,
	[sharedApiId] [uniqueidentifier] NOT NULL,
	[canRead] [bit] NOT NULL,
	[canWrite] [bit] NOT NULL,
	[canDelete] [bit] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[appAppDataSharedApiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppData]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppData](
	[appDataId] [uniqueidentifier] NOT NULL,
	[appDataName] [nvarchar](20) NOT NULL,
	[appDataToken] [nvarchar](36) NOT NULL,
	[appDataDesc] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[appDataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppDataBusinessUnit]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppDataBusinessUnit](
	[appDataBusinessUnitId] [uniqueidentifier] NOT NULL,
	[appDataId] [uniqueidentifier] NOT NULL,
	[businessUnitId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_AppBusinessUnit] PRIMARY KEY CLUSTERED 
(
	[appDataBusinessUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppDataCitation]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppDataCitation](
	[appDataCitationId] [uniqueidentifier] NOT NULL,
	[appDataId] [uniqueidentifier] NOT NULL,
	[citationId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_AppCitation] PRIMARY KEY CLUSTERED 
(
	[appDataCitationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppDataEnforcement]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppDataEnforcement](
	[appDataEnforcementId] [uniqueidentifier] NOT NULL,
	[appDataId] [uniqueidentifier] NOT NULL,
	[enforcementId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_AppEnforcement] PRIMARY KEY CLUSTERED 
(
	[appDataEnforcementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssociatedProgram]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssociatedProgram](
	[associatedProgramId] [uniqueidentifier] NOT NULL,
	[associatedProgramCode] [nvarchar](30) NULL,
	[associatedProgramName] [nvarchar](255) NULL,
	[associatedProgramShortName] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_AssociatedProgram] PRIMARY KEY CLUSTERED 
(
	[associatedProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[branchId] [uniqueidentifier] NOT NULL,
	[branchCode] [varchar](50) NOT NULL,
	[branchName] [varchar](50) NOT NULL,
	[branchDesc] [varchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[branchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Branch_branchCode] UNIQUE NONCLUSTERED 
(
	[branchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessUnit]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessUnit](
	[businessUnitId] [uniqueidentifier] NOT NULL,
	[businessUnitCode] [nvarchar](20) NULL,
	[businessUnitName] [nvarchar](100) NULL,
	[businessUnitDesc] [nvarchar](255) NULL,
	[businessUnitTypeId] [uniqueidentifier] NULL,
	[externalBusinessUnitId] [int] NOT NULL,
	[parentBusinessUnitId] [uniqueidentifier] NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_BusinessUnit] PRIMARY KEY CLUSTERED 
(
	[businessUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessUnitAssociatedProgram]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessUnitAssociatedProgram](
	[businessUnitAssociatedProgramId] [uniqueidentifier] NOT NULL,
	[businessUnitId] [uniqueidentifier] NOT NULL,
	[associatedProgramId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_BusinessUnitAssociation] PRIMARY KEY CLUSTERED 
(
	[businessUnitAssociatedProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessUnitCategory]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessUnitCategory](
	[businessUnitCategoryId] [uniqueidentifier] NOT NULL,
	[businessUnitCategoryName] [nvarchar](255) NULL,
	[businessUnitCategoryDesc] [nvarchar](1000) NULL,
	[businessUnitId] [uniqueidentifier] NOT NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_BusinessUnitCategory] PRIMARY KEY CLUSTERED 
(
	[businessUnitCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessUnitType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessUnitType](
	[businessUnitTypeId] [uniqueidentifier] NOT NULL,
	[businessUnitTypeName] [nvarchar](255) NULL,
	[businessUnitTypeDesc] [nvarchar](1000) NULL,
	[externalBusinessUnitTypeId] [int] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NULL,
	[createdBy] [nvarchar](255) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK__BusinessUnitType] PRIMARY KEY CLUSTERED 
(
	[businessUnitTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citation]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citation](
	[citationId] [uniqueidentifier] NOT NULL,
	[citationNumber] [bigint] IDENTITY(1,1) NOT NULL,
	[citationName] [nvarchar](60) NULL,
	[citationCode] [nvarchar](55) NULL,
	[promulgationDate] [date] NULL,
	[isReadyToSunset] [bit] NULL,
	[isDeleted] [bit] NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[primaryProgramId] [uniqueidentifier] NULL,
	[citationClassId] [uniqueidentifier] NULL,
	[citationStatuteId] [uniqueidentifier] NULL,
	[citationSequenceId] [uniqueidentifier] NULL,
	[citationStatusId] [uniqueidentifier] NULL,
	[externalCitationClass] [nvarchar](200) NULL,
	[externalCitationSequence] [nvarchar](1) NULL,
	[externalCitationStatute] [nvarchar](20) NULL,
	[externalCitationStatusId] [int] NULL,
	[citationDescription] [ntext] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
	[agencyId] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Citation__EC6E99C7A84A2DDE] PRIMARY KEY CLUSTERED 
(
	[citationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationAssociatedProgram]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationAssociatedProgram](
	[citationAssociatedProgramId] [uniqueidentifier] NOT NULL,
	[citationId] [uniqueidentifier] NOT NULL,
	[associatedProgramId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_citationAssociatedProgram] PRIMARY KEY CLUSTERED 
(
	[citationAssociatedProgramId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationClass]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationClass](
	[citationClassId] [uniqueidentifier] NOT NULL,
	[externalCitationClassId] [int] NULL,
	[citationClassCode] [nvarchar](50) NOT NULL,
	[citationClassName] [nvarchar](50) NULL,
	[basePenaltyAmount] [decimal](11, 2) NULL,
	[maxPenaltyAmount] [decimal](11, 2) NULL,
	[citationClassDesc] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK__Citation__E73D8710A98051B3] PRIMARY KEY CLUSTERED 
(
	[citationClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationLink]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationLink](
	[citationLinkId] [uniqueidentifier] NOT NULL,
	[fromCitationName] [nvarchar](60) NULL,
	[byCitationName] [nvarchar](60) NULL,
	[linkType] [nvarchar](100) NULL,
	[comment] [nvarchar](4000) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[citationLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationPenalty]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationPenalty](
	[citationPenaltyId] [uniqueidentifier] NOT NULL,
	[citationId] [uniqueidentifier] NOT NULL,
	[penaltyNumber] [bigint] IDENTITY(1,1) NOT NULL,
	[baseAmount] [decimal](11, 2) NULL,
	[maxAmount] [decimal](11, 2) NULL,
	[expanPenalty] [decimal](11, 2) NULL,
	[maxDailyPenalty] [decimal](11, 2) NULL,
	[comment] [nvarchar](500) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
	[externalCitationPenaltyId] [bigint] NULL,
 CONSTRAINT [PK_CitationPenalty] PRIMARY KEY CLUSTERED 
(
	[citationPenaltyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationReportType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationReportType](
	[citationReportTypeId] [uniqueidentifier] NOT NULL,
	[citationReportTypeCode] [nvarchar](50) NOT NULL,
	[citationReportTypeName] [nvarchar](50) NULL,
	[citationReportTypeDesc] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_CitationReportType] PRIMARY KEY CLUSTERED 
(
	[citationReportTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationSequence]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationSequence](
	[citationSequenceId] [uniqueidentifier] NOT NULL,
	[externalCitationSequenceId] [int] NULL,
	[citationSequenceCode] [nvarchar](50) NOT NULL,
	[citationSequenceName] [nvarchar](50) NULL,
	[citationSequenceDesc] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_CitationSequence] PRIMARY KEY CLUSTERED 
(
	[citationSequenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationStatus]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationStatus](
	[citationStatusId] [uniqueidentifier] NOT NULL,
	[externalCitationStatusId] [int] NULL,
	[citationStatusCode] [nvarchar](50) NULL,
	[citationStatusName] [nvarchar](50) NULL,
	[citationStatusDesc] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_CitationStatus] PRIMARY KEY CLUSTERED 
(
	[citationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitationStatute]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitationStatute](
	[citationStatuteId] [uniqueidentifier] NOT NULL,
	[externalCitationStatuteId] [int] NULL,
	[citationStatuteCode] [nvarchar](50) NOT NULL,
	[citationStatuteName] [nvarchar](50) NULL,
	[citationStatuteDesc] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_CitationStatute] PRIMARY KEY CLUSTERED 
(
	[citationStatuteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classification]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classification](
	[classificationId] [uniqueidentifier] NOT NULL,
	[classificationCode] [nvarchar](20) NULL,
	[classificationName] [nvarchar](100) NULL,
	[classificationDesc] [nvarchar](255) NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_Classification] PRIMARY KEY CLUSTERED 
(
	[classificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correspondence]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correspondence](
	[correspondenceId] [uniqueidentifier] NOT NULL,
	[externalCorrespondenceId] [nvarchar](255) NULL,
	[issuedDate] [datetime2](7) NULL,
	[trackingNumber] [nvarchar](100) NULL,
	[issuingStaffId] [uniqueidentifier] NULL,
	[branchCode] [nvarchar](255) NULL,
	[sectionCode] [nvarchar](255) NULL,
	[comment] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_Correspondence] PRIMARY KEY CLUSTERED 
(
	[correspondenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enforcement]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enforcement](
	[enforcementId] [uniqueidentifier] NOT NULL,
	[agencyId] [uniqueidentifier] NULL,
	[programId] [uniqueidentifier] NULL,
	[partyId] [uniqueidentifier] NULL,
	[staffId] [uniqueidentifier] NULL,
	[regionId] [int] NULL,
	[entityName] [nvarchar](255) NULL,
	[enforcementDocumentNumber] [nvarchar](50) NULL,
	[enforcementPenaltyCashAssessed] [decimal](11, 2) NULL,
	[enforcementDeliveryTrackingNumber] [nvarchar](50) NULL,
	[enforcementIssuedDate] [date] NULL,
	[enforcementDueDate] [date] NULL,
	[enforcementClosedDate] [date] NULL,
	[enforcementComments] [nvarchar](max) NULL,
	[enforcementIsMinority] [bit] NULL,
	[enforcementIsIncome] [bit] NULL,
	[enforcementIsLanguage] [bit] NULL,
	[enforcementStatusId] [uniqueidentifier] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
	[enforcementTypeId] [uniqueidentifier] NULL,
	[enforcementEntityTypeId] [uniqueidentifier] NULL,
	[entityType] [int] NULL,
	[relatedActivityTypeId] [uniqueidentifier] NULL,
	[relatedActivityId] [uniqueidentifier] NULL,
	[nextVersionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Enforcement] PRIMARY KEY CLUSTERED 
(
	[enforcementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnforcementCategory]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementCategory](
	[enforcementCategoryId] [uniqueidentifier] NOT NULL,
	[enforcementId] [uniqueidentifier] NOT NULL,
	[categoryId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NULL,
	[createdBy] [nvarchar](255) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_EnforcementCategory] PRIMARY KEY CLUSTERED 
(
	[enforcementCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnforcementClassification]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementClassification](
	[enforcementClassificationId] [uniqueidentifier] NOT NULL,
	[enforcementId] [uniqueidentifier] NOT NULL,
	[classificationId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NULL,
	[createdBy] [nvarchar](255) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_EnforcementClassification] PRIMARY KEY CLUSTERED 
(
	[enforcementClassificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnforcementEntity]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementEntity](
	[enforcementEntityId] [uniqueidentifier] NOT NULL,
	[enforcementId] [uniqueidentifier] NOT NULL,
	[enforcementEntityTypeId] [uniqueidentifier] NOT NULL,
	[entityId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_EnforcementEntity] PRIMARY KEY CLUSTERED 
(
	[enforcementEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnforcementEntityType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementEntityType](
	[enforcementEntityTypeId] [uniqueidentifier] NOT NULL,
	[enforcementEntityTypeName] [nvarchar](255) NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
	[enforcementEntityTypeCode] [nvarchar](50) NULL,
	[enforcementEntityTypeDesc] [nvarchar](255) NULL,
 CONSTRAINT [PK_EnforcementEntityType] PRIMARY KEY CLUSTERED 
(
	[enforcementEntityTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnforcementHistory]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementHistory](
	[enforcementHistoryId] [uniqueidentifier] NOT NULL,
	[enforcementId] [uniqueidentifier] NOT NULL,
	[agencyId] [uniqueidentifier] NULL,
	[programId] [uniqueidentifier] NULL,
	[partyId] [uniqueidentifier] NULL,
	[staffId] [uniqueidentifier] NULL,
	[regionId] [int] NULL,
	[entityName] [nvarchar](255) NULL,
	[entityType] [int] NULL,
	[enforcementDocumentNumber] [nvarchar](50) NULL,
	[enforcementPenaltyCashAssessed] [decimal](11, 2) NULL,
	[enforcementDeliveryTrackingNumber] [nvarchar](50) NULL,
	[enforcementIssuedDate] [date] NULL,
	[enforcementDueDate] [date] NULL,
	[enforcementClosedDate] [date] NULL,
	[enforcementComments] [nvarchar](max) NULL,
	[enforcementIsMinority] [bit] NULL,
	[enforcementIsIncome] [bit] NULL,
	[enforcementIsLanguage] [bit] NULL,
	[enforcementStatusId] [uniqueidentifier] NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_EnforcementHistory] PRIMARY KEY CLUSTERED 
(
	[enforcementHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnforcementStatus]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementStatus](
	[enforcementStatusId] [uniqueidentifier] NOT NULL,
	[enforcementStatusCode] [varchar](50) NOT NULL,
	[enforcementStatusName] [varchar](50) NOT NULL,
	[enforcementStatusDesc] [varchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_EnforcementStatus] PRIMARY KEY CLUSTERED 
(
	[enforcementStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EnforcementStatus_enforcementStatusCode] UNIQUE NONCLUSTERED 
(
	[enforcementStatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnforcementType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnforcementType](
	[enforcementTypeId] [uniqueidentifier] NOT NULL,
	[enforcementTypeCode] [varchar](50) NOT NULL,
	[enforcementTypeName] [varchar](50) NOT NULL,
	[enforcementTypeDesc] [varchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_EnforcementType] PRIMARY KEY CLUSTERED 
(
	[enforcementTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EnforcementType_enforcementTypeCode] UNIQUE NONCLUSTERED 
(
	[enforcementTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegulatedInterest]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegulatedInterest](
	[regulatedInterestId] [uniqueidentifier] NOT NULL,
	[siteId] [uniqueidentifier] NOT NULL,
	[regulatedInterestName] [nvarchar](255) NULL,
	[accountNumber] [nvarchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_RegulatedInterest] PRIMARY KEY CLUSTERED 
(
	[regulatedInterestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegulatedInterestCorrespondence]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegulatedInterestCorrespondence](
	[regulatedInterestCorrespondenceId] [uniqueidentifier] NOT NULL,
	[correspondenceId] [uniqueidentifier] NOT NULL,
	[regulatedInterestCorrespondenceTypeId] [uniqueidentifier] NOT NULL,
	[regulatedInterestId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_RegulatedInterestCorrespondence] PRIMARY KEY CLUSTERED 
(
	[regulatedInterestCorrespondenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegulatedInterestCorrespondenceType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegulatedInterestCorrespondenceType](
	[regulatedInterestCorrespondenceTypeId] [uniqueidentifier] NOT NULL,
	[regulatedInterestCorrespondenceTypeCode] [nvarchar](255) NOT NULL,
	[regulatedInterestCorrespondenceTypeName] [nvarchar](255) NOT NULL,
	[regulatedInterestCorrespondenceTypeDesc] [nvarchar](255) NULL,
	[programCode] [nvarchar](255) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_RegulatedInterestCorrespondenceType] PRIMARY KEY CLUSTERED 
(
	[regulatedInterestCorrespondenceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegulatedInterestInspection]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegulatedInterestInspection](
	[regulatedInterestInspectionId] [uniqueidentifier] NOT NULL,
	[regulatedInterestId] [uniqueidentifier] NOT NULL,
	[regulatedInterestInspectionTypeId] [uniqueidentifier] NOT NULL,
	[siteInspectionId] [uniqueidentifier] NOT NULL,
	[externalInspectionId] [nvarchar](255) NULL,
	[programCode] [nvarchar](255) NOT NULL,
	[programCategoryName] [nvarchar](255) NOT NULL,
	[classificationCode] [nvarchar](255) NULL,
	[comment] [nvarchar](1000) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_RegulatedInterestInspection] PRIMARY KEY CLUSTERED 
(
	[regulatedInterestInspectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegulatedInterestInspectionType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegulatedInterestInspectionType](
	[regulatedInterestInspectionTypeId] [uniqueidentifier] NOT NULL,
	[programCode] [nvarchar](255) NOT NULL,
	[inspectionTypeCode] [nvarchar](255) NOT NULL,
	[inspectionTypeName] [nvarchar](255) NOT NULL,
	[inspectionTypeDesc] [nvarchar](255) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_RegulatedInterestInspectionType] UNIQUE NONCLUSTERED 
(
	[regulatedInterestInspectionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[sectionId] [uniqueidentifier] NOT NULL,
	[sectionCode] [varchar](50) NOT NULL,
	[sectionName] [varchar](50) NOT NULL,
	[sectionDesc] [varchar](255) NULL,
	[branchId] [uniqueidentifier] NOT NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[sectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SharedApi]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharedApi](
	[sharedApiId] [uniqueidentifier] NOT NULL,
	[sharedApiName] [nvarchar](20) NOT NULL,
	[sharedApiDesc] [nvarchar](max) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[sharedApiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteClosureReasonType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteClosureReasonType](
	[closureReasonTypeId] [int] NOT NULL,
	[closureReasonTypeCode] [varchar](50) NULL,
	[closureReasonTypeName] [nvarchar](255) NOT NULL,
	[closureReasonTypeDesc] [varchar](255) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_SiteClosureReasonType] PRIMARY KEY CLUSTERED 
(
	[closureReasonTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteCorrespondence]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteCorrespondence](
	[siteCorrespondenceId] [uniqueidentifier] NOT NULL,
	[siteCorrespondenceTypeId] [uniqueidentifier] NOT NULL,
	[correspondenceId] [uniqueidentifier] NOT NULL,
	[siteId] [uniqueidentifier] NOT NULL,
	[relatedActivityTypeId] [uniqueidentifier] NULL,
	[relatedActivityId] [uniqueidentifier] NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_SiteCorrespondence] PRIMARY KEY CLUSTERED 
(
	[siteCorrespondenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteCorrespondenceType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteCorrespondenceType](
	[siteCorrespondenceTypeId] [uniqueidentifier] NOT NULL,
	[siteCorrespondenceTypeCode] [nvarchar](255) NOT NULL,
	[siteCorrespondenceTypeName] [nvarchar](255) NOT NULL,
	[siteCorrespondenceTypeDesc] [nvarchar](255) NULL,
	[programCode] [nvarchar](255) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_SiteCorrespondenceType] PRIMARY KEY CLUSTERED 
(
	[siteCorrespondenceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteInspection]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteInspection](
	[siteInspectionId] [uniqueidentifier] NOT NULL,
	[siteInspectionTypeId] [uniqueidentifier] NOT NULL,
	[siteInspectionIdentifier] [uniqueidentifier] NOT NULL,
	[siteId] [uniqueidentifier] NOT NULL,
	[externalInspectionId] [nvarchar](255) NULL,
	[scheduledDate] [datetime2](7) NULL,
	[performedDate] [datetime2](7) NULL,
	[issuingStaffId] [uniqueidentifier] NULL,
	[branchCode] [nvarchar](255) NULL,
	[sectionCode] [nvarchar](255) NULL,
	[comment] [nvarchar](1000) NULL,
	[multipleDays] [bit] NULL,
	[nextVersionId] [uniqueidentifier] NULL,
	[rowVersion] [timestamp] NOT NULL,
	[relatedActivityTypeId] [uniqueidentifier] NULL,
	[relatedActivityId] [uniqueidentifier] NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_SiteInspection] PRIMARY KEY CLUSTERED 
(
	[siteInspectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteInspectionType]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteInspectionType](
	[siteInspectionTypeId] [uniqueidentifier] NOT NULL,
	[siteInspectionTypeCode] [nvarchar](255) NOT NULL,
	[siteInspectionTypeName] [nvarchar](255) NOT NULL,
	[siteInspectionTypeDesc] [nvarchar](255) NULL,
	[programCode] [nvarchar](255) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[isDeleted] [bit] NULL,
	[createdBy] [nvarchar](100) NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[lastModifiedBy] [nvarchar](100) NULL,
	[lastModifiedDt] [datetime2](7) NULL,
 CONSTRAINT [PK_SiteInspectionType] PRIMARY KEY CLUSTERED 
(
	[siteInspectionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staffId] [uniqueidentifier] NOT NULL,
	[externalStaffId] [nvarchar](255) NULL,
	[branchCode] [nvarchar](255) NULL,
	[firstName] [nvarchar](255) NOT NULL,
	[middleName] [nvarchar](255) NULL,
	[lastName] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[sectionCode] [nvarchar](255) NULL,
	[startDate] [datetime2](7) NOT NULL,
	[endDate] [datetime2](7) NULL,
	[isDeleted] [bit] NOT NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
	[staffRoleId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffRole]    Script Date: 3/11/2026 2:17:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffRole](
	[staffRoleId] [uniqueidentifier] NOT NULL,
	[staffRoleCode] [varchar](50) NOT NULL,
	[staffRoleName] [varchar](50) NOT NULL,
	[staffRoleDesc] [varchar](255) NULL,
	[isDeleted] [bit] NULL,
	[createdDt] [datetime2](7) NOT NULL,
	[createdBy] [nvarchar](255) NOT NULL,
	[lastModifiedDt] [datetime2](7) NULL,
	[lastModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_CaseStaffRole] PRIMARY KEY CLUSTERED 
(
	[staffRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CaseStaffRole_caseStaffRoleCode] UNIQUE NONCLUSTERED 
(
	[staffRoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityType] ADD  DEFAULT (newid()) FOR [activityTypeId]
GO
ALTER TABLE [dbo].[ActivityType] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[ActivityType] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [DF_App]  DEFAULT (newid()) FOR [appId]
GO
ALTER TABLE [dbo].[App] ADD  CONSTRAINT [DF_App_appToken]  DEFAULT (newid()) FOR [appToken]
GO
ALTER TABLE [dbo].[App] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] ADD  CONSTRAINT [DF_AppAppDataSharedApi]  DEFAULT (newid()) FOR [appAppDataSharedApiId]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] ADD  CONSTRAINT [DF__AppAppDataSharedApi__canRead]  DEFAULT ((0)) FOR [canRead]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] ADD  CONSTRAINT [DF__AppAppDataSharedApi__canWrite]  DEFAULT ((0)) FOR [canWrite]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] ADD  CONSTRAINT [DF__AppAppDataSharedApi__canDelete]  DEFAULT ((0)) FOR [canDelete]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[AppData] ADD  CONSTRAINT [DF_AppData]  DEFAULT (newid()) FOR [appDataId]
GO
ALTER TABLE [dbo].[AppData] ADD  CONSTRAINT [DF_AppData_appDataToken]  DEFAULT (newid()) FOR [appDataToken]
GO
ALTER TABLE [dbo].[AppData] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[AppDataBusinessUnit] ADD  CONSTRAINT [DF_AppBusinessUnit_appBusinessUnitId]  DEFAULT (newid()) FOR [appDataBusinessUnitId]
GO
ALTER TABLE [dbo].[AppDataBusinessUnit] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[AppDataCitation] ADD  CONSTRAINT [DF_AppCitation_appCitationId]  DEFAULT (newid()) FOR [appDataCitationId]
GO
ALTER TABLE [dbo].[AppDataCitation] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[AppDataEnforcement] ADD  CONSTRAINT [DF_AppEnforcement_appEnforcementId]  DEFAULT (newid()) FOR [appDataEnforcementId]
GO
ALTER TABLE [dbo].[AppDataEnforcement] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[AssociatedProgram] ADD  DEFAULT (newid()) FOR [associatedProgramId]
GO
ALTER TABLE [dbo].[AssociatedProgram] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[AssociatedProgram] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[Branch] ADD  CONSTRAINT [DF_Branch_branchId]  DEFAULT (newid()) FOR [branchId]
GO
ALTER TABLE [dbo].[Branch] ADD  CONSTRAINT [DF_Branch_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Branch] ADD  CONSTRAINT [DF_Branch_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[BusinessUnit] ADD  DEFAULT (newid()) FOR [businessUnitId]
GO
ALTER TABLE [dbo].[BusinessUnit] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[BusinessUnit] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[BusinessUnitAssociatedProgram] ADD  CONSTRAINT [DF_BusinessUnitAssociatedProgram_businessUnitAssociatedProgramId]  DEFAULT (newid()) FOR [businessUnitAssociatedProgramId]
GO
ALTER TABLE [dbo].[BusinessUnitAssociatedProgram] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[BusinessUnitAssociatedProgram] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[BusinessUnitCategory] ADD  CONSTRAINT [DF_BusinessUnitCategory_businessUnitCategoryId]  DEFAULT (newid()) FOR [businessUnitCategoryId]
GO
ALTER TABLE [dbo].[Citation] ADD  CONSTRAINT [DF__Citation__citati__2A164134]  DEFAULT (newid()) FOR [citationId]
GO
ALTER TABLE [dbo].[Citation] ADD  CONSTRAINT [DF_Citation_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[CitationAssociatedProgram] ADD  CONSTRAINT [DF_CitationAssociatedProgram_citationAssociatedProgramId]  DEFAULT (newid()) FOR [citationAssociatedProgramId]
GO
ALTER TABLE [dbo].[CitationAssociatedProgram] ADD  CONSTRAINT [DF_citationAssociatedProgram_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[CitationAssociatedProgram] ADD  CONSTRAINT [DF_citationAssociatedProgram_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[CitationClass] ADD  CONSTRAINT [DF_CitationClass_citationClassId]  DEFAULT (newid()) FOR [citationClassId]
GO
ALTER TABLE [dbo].[CitationClass] ADD  CONSTRAINT [DF_CitationClass_createdDt_1]  DEFAULT (sysutcdatetime()) FOR [createdDt]
GO
ALTER TABLE [dbo].[CitationLink] ADD  DEFAULT (newid()) FOR [citationLinkId]
GO
ALTER TABLE [dbo].[CitationPenalty] ADD  CONSTRAINT [DF_CitationPenalty_citationPenaltyId]  DEFAULT (newid()) FOR [citationPenaltyId]
GO
ALTER TABLE [dbo].[CitationStatute] ADD  CONSTRAINT [DF_CitationStatute_new_CitationStatuteId]  DEFAULT (newid()) FOR [citationStatuteId]
GO
ALTER TABLE [dbo].[CitationStatute] ADD  CONSTRAINT [DF_CitationStatute_new_createdDt]  DEFAULT (sysutcdatetime()) FOR [createdDt]
GO
ALTER TABLE [dbo].[Classification] ADD  DEFAULT (newid()) FOR [classificationId]
GO
ALTER TABLE [dbo].[Classification] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Classification] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[Correspondence] ADD  DEFAULT (newid()) FOR [correspondenceId]
GO
ALTER TABLE [dbo].[Correspondence] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Correspondence] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[Enforcement] ADD  CONSTRAINT [DF_Enforcement_enforcementId]  DEFAULT (newid()) FOR [enforcementId]
GO
ALTER TABLE [dbo].[Enforcement] ADD  CONSTRAINT [DF_Enforcement_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Enforcement] ADD  CONSTRAINT [DF_Enforcement_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[EnforcementCategory] ADD  CONSTRAINT [DF_EnforcementCategory_enforcementCategoryId]  DEFAULT (newid()) FOR [enforcementCategoryId]
GO
ALTER TABLE [dbo].[EnforcementCategory] ADD  CONSTRAINT [DF_EnforcementCategory_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EnforcementCategory] ADD  CONSTRAINT [DF_EnforcementCategory_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[EnforcementClassification] ADD  CONSTRAINT [DF_EnforcementClassification_enforcementClassificationId]  DEFAULT (newid()) FOR [enforcementClassificationId]
GO
ALTER TABLE [dbo].[EnforcementClassification] ADD  CONSTRAINT [DF_EnforcementClassification_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EnforcementClassification] ADD  CONSTRAINT [DF_EnforcementClassification_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[EnforcementEntity] ADD  DEFAULT (newid()) FOR [enforcementEntityId]
GO
ALTER TABLE [dbo].[EnforcementEntity] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EnforcementEntity] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[EnforcementEntityType] ADD  CONSTRAINT [DF_EnforcementEntityType_enforcementEntityTypeId]  DEFAULT (newid()) FOR [enforcementEntityTypeId]
GO
ALTER TABLE [dbo].[EnforcementEntityType] ADD  CONSTRAINT [DF_EnforcementEntityType_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EnforcementEntityType] ADD  CONSTRAINT [DF_EnforcementEntityType_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[EnforcementHistory] ADD  CONSTRAINT [DF_EnforcementHistory_enforcementHistoryId]  DEFAULT (newid()) FOR [enforcementHistoryId]
GO
ALTER TABLE [dbo].[EnforcementHistory] ADD  CONSTRAINT [DF_EnforcementHistory_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EnforcementHistory] ADD  CONSTRAINT [DF_EnforcementHistory_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[EnforcementStatus] ADD  CONSTRAINT [DF_EnforcementStatus_enforcementStatusId]  DEFAULT (newid()) FOR [enforcementStatusId]
GO
ALTER TABLE [dbo].[EnforcementStatus] ADD  CONSTRAINT [DF_EnforcementStatus_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EnforcementStatus] ADD  CONSTRAINT [DF_EnforcementStatus_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[EnforcementType] ADD  CONSTRAINT [DF_EnforcementType_enforcementTypeId]  DEFAULT (newid()) FOR [enforcementTypeId]
GO
ALTER TABLE [dbo].[EnforcementType] ADD  CONSTRAINT [DF_EnforcementType_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[EnforcementType] ADD  CONSTRAINT [DF_EnforcementType_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[RegulatedInterest] ADD  DEFAULT (newid()) FOR [regulatedInterestId]
GO
ALTER TABLE [dbo].[RegulatedInterest] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[RegulatedInterest] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence] ADD  DEFAULT (newid()) FOR [regulatedInterestCorrespondenceId]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondenceType] ADD  DEFAULT (newid()) FOR [regulatedInterestCorrespondenceTypeId]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondenceType] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondenceType] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[RegulatedInterestInspection] ADD  DEFAULT (newid()) FOR [regulatedInterestInspectionId]
GO
ALTER TABLE [dbo].[RegulatedInterestInspection] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[RegulatedInterestInspection] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[RegulatedInterestInspectionType] ADD  DEFAULT (newid()) FOR [regulatedInterestInspectionTypeId]
GO
ALTER TABLE [dbo].[RegulatedInterestInspectionType] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[RegulatedInterestInspectionType] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[Section] ADD  CONSTRAINT [DF_Section_sectionId]  DEFAULT (newid()) FOR [sectionId]
GO
ALTER TABLE [dbo].[Section] ADD  CONSTRAINT [DF_Section_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Section] ADD  CONSTRAINT [DF_Section_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[SharedApi] ADD  CONSTRAINT [DF_SharedApi_sharedApiId]  DEFAULT (newid()) FOR [sharedApiId]
GO
ALTER TABLE [dbo].[SharedApi] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[SiteCorrespondence] ADD  DEFAULT (newid()) FOR [siteCorrespondenceId]
GO
ALTER TABLE [dbo].[SiteCorrespondence] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[SiteCorrespondence] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[SiteCorrespondenceType] ADD  DEFAULT (newid()) FOR [siteCorrespondenceTypeId]
GO
ALTER TABLE [dbo].[SiteCorrespondenceType] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[SiteCorrespondenceType] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[SiteInspection] ADD  DEFAULT (newid()) FOR [siteInspectionId]
GO
ALTER TABLE [dbo].[SiteInspection] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[SiteInspection] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[SiteInspectionType] ADD  DEFAULT (newid()) FOR [siteInspectionTypeId]
GO
ALTER TABLE [dbo].[SiteInspectionType] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[SiteInspectionType] ADD  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Employee_employeeId]  DEFAULT (newid()) FOR [staffId]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Employee_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Employee_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[StaffRole] ADD  CONSTRAINT [DF_CaseStaffRole_caseStaffRoleId]  DEFAULT (newid()) FOR [staffRoleId]
GO
ALTER TABLE [dbo].[StaffRole] ADD  CONSTRAINT [DF_CaseStaffRole_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[StaffRole] ADD  CONSTRAINT [DF_CaseStaffRole_createdDt]  DEFAULT (getdate()) FOR [createdDt]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi]  WITH CHECK ADD  CONSTRAINT [FK__AppAppDataSharedApi__App] FOREIGN KEY([appId])
REFERENCES [dbo].[App] ([appId])
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] CHECK CONSTRAINT [FK__AppAppDataSharedApi__App]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi]  WITH CHECK ADD  CONSTRAINT [FK__AppAppDataSharedApi__AppData] FOREIGN KEY([appDataId])
REFERENCES [dbo].[AppData] ([appDataId])
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] CHECK CONSTRAINT [FK__AppAppDataSharedApi__AppData]
GO
ALTER TABLE [dbo].[AppAppDataSharedApi]  WITH CHECK ADD  CONSTRAINT [FK__AppAppDataSharedApi__SharedApi] FOREIGN KEY([sharedApiId])
REFERENCES [dbo].[SharedApi] ([sharedApiId])
GO
ALTER TABLE [dbo].[AppAppDataSharedApi] CHECK CONSTRAINT [FK__AppAppDataSharedApi__SharedApi]
GO
ALTER TABLE [dbo].[AppDataBusinessUnit]  WITH CHECK ADD  CONSTRAINT [FK_AppBusinessUnit_BusinessUnit] FOREIGN KEY([businessUnitId])
REFERENCES [dbo].[BusinessUnit] ([businessUnitId])
GO
ALTER TABLE [dbo].[AppDataBusinessUnit] CHECK CONSTRAINT [FK_AppBusinessUnit_BusinessUnit]
GO
ALTER TABLE [dbo].[AppDataBusinessUnit]  WITH CHECK ADD  CONSTRAINT [FK_AppDataBusinessUnit_AppData] FOREIGN KEY([appDataId])
REFERENCES [dbo].[AppData] ([appDataId])
GO
ALTER TABLE [dbo].[AppDataBusinessUnit] CHECK CONSTRAINT [FK_AppDataBusinessUnit_AppData]
GO
ALTER TABLE [dbo].[AppDataCitation]  WITH CHECK ADD  CONSTRAINT [FK_AppCitation_Citation] FOREIGN KEY([citationId])
REFERENCES [dbo].[Citation] ([citationId])
GO
ALTER TABLE [dbo].[AppDataCitation] CHECK CONSTRAINT [FK_AppCitation_Citation]
GO
ALTER TABLE [dbo].[AppDataCitation]  WITH CHECK ADD  CONSTRAINT [FK_AppDataCitation_AppData] FOREIGN KEY([appDataId])
REFERENCES [dbo].[AppData] ([appDataId])
GO
ALTER TABLE [dbo].[AppDataCitation] CHECK CONSTRAINT [FK_AppDataCitation_AppData]
GO
ALTER TABLE [dbo].[AppDataEnforcement]  WITH CHECK ADD  CONSTRAINT [FK_AppDataEnforcement_AppData] FOREIGN KEY([appDataId])
REFERENCES [dbo].[AppData] ([appDataId])
GO
ALTER TABLE [dbo].[AppDataEnforcement] CHECK CONSTRAINT [FK_AppDataEnforcement_AppData]
GO
ALTER TABLE [dbo].[AppDataEnforcement]  WITH CHECK ADD  CONSTRAINT [FK_AppDataEnforcement_Enforcement] FOREIGN KEY([enforcementId])
REFERENCES [dbo].[Enforcement] ([enforcementId])
GO
ALTER TABLE [dbo].[AppDataEnforcement] CHECK CONSTRAINT [FK_AppDataEnforcement_Enforcement]
GO
ALTER TABLE [dbo].[BusinessUnit]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnit_BusinessUnit] FOREIGN KEY([parentBusinessUnitId])
REFERENCES [dbo].[BusinessUnit] ([businessUnitId])
GO
ALTER TABLE [dbo].[BusinessUnit] CHECK CONSTRAINT [FK_BusinessUnit_BusinessUnit]
GO
ALTER TABLE [dbo].[BusinessUnit]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnit_BusinessUnitType] FOREIGN KEY([businessUnitTypeId])
REFERENCES [dbo].[BusinessUnitType] ([businessUnitTypeId])
GO
ALTER TABLE [dbo].[BusinessUnit] CHECK CONSTRAINT [FK_BusinessUnit_BusinessUnitType]
GO
ALTER TABLE [dbo].[BusinessUnitAssociatedProgram]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnitAssociatedProgram_AssociatedProgram] FOREIGN KEY([associatedProgramId])
REFERENCES [dbo].[AssociatedProgram] ([associatedProgramId])
GO
ALTER TABLE [dbo].[BusinessUnitAssociatedProgram] CHECK CONSTRAINT [FK_BusinessUnitAssociatedProgram_AssociatedProgram]
GO
ALTER TABLE [dbo].[BusinessUnitAssociatedProgram]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnitAssociatedProgram_BusinessUnit] FOREIGN KEY([businessUnitId])
REFERENCES [dbo].[BusinessUnit] ([businessUnitId])
GO
ALTER TABLE [dbo].[BusinessUnitAssociatedProgram] CHECK CONSTRAINT [FK_BusinessUnitAssociatedProgram_BusinessUnit]
GO
ALTER TABLE [dbo].[BusinessUnitCategory]  WITH CHECK ADD  CONSTRAINT [FK_BusinessUnitCategory_BusinessUnit] FOREIGN KEY([businessUnitId])
REFERENCES [dbo].[BusinessUnit] ([businessUnitId])
GO
ALTER TABLE [dbo].[BusinessUnitCategory] CHECK CONSTRAINT [FK_BusinessUnitCategory_BusinessUnit]
GO
ALTER TABLE [dbo].[Citation]  WITH CHECK ADD  CONSTRAINT [FK_Citation_CitationClass] FOREIGN KEY([citationClassId])
REFERENCES [dbo].[CitationClass] ([citationClassId])
GO
ALTER TABLE [dbo].[Citation] CHECK CONSTRAINT [FK_Citation_CitationClass]
GO
ALTER TABLE [dbo].[Citation]  WITH CHECK ADD  CONSTRAINT [FK_Citation_CitationSequence] FOREIGN KEY([citationSequenceId])
REFERENCES [dbo].[CitationSequence] ([citationSequenceId])
GO
ALTER TABLE [dbo].[Citation] CHECK CONSTRAINT [FK_Citation_CitationSequence]
GO
ALTER TABLE [dbo].[Citation]  WITH CHECK ADD  CONSTRAINT [FK_Citation_CitationStatus] FOREIGN KEY([citationStatusId])
REFERENCES [dbo].[CitationStatus] ([citationStatusId])
GO
ALTER TABLE [dbo].[Citation] CHECK CONSTRAINT [FK_Citation_CitationStatus]
GO
ALTER TABLE [dbo].[Citation]  WITH CHECK ADD  CONSTRAINT [FK_Citation_CitationStatute] FOREIGN KEY([citationStatuteId])
REFERENCES [dbo].[CitationStatute] ([citationStatuteId])
GO
ALTER TABLE [dbo].[Citation] CHECK CONSTRAINT [FK_Citation_CitationStatute]
GO
ALTER TABLE [dbo].[CitationAssociatedProgram]  WITH CHECK ADD  CONSTRAINT [FK_citationAssociatedProgram_AssociatedProgram] FOREIGN KEY([associatedProgramId])
REFERENCES [dbo].[AssociatedProgram] ([associatedProgramId])
GO
ALTER TABLE [dbo].[CitationAssociatedProgram] CHECK CONSTRAINT [FK_citationAssociatedProgram_AssociatedProgram]
GO
ALTER TABLE [dbo].[CitationAssociatedProgram]  WITH CHECK ADD  CONSTRAINT [FK_citationAssociatedProgram_Citation] FOREIGN KEY([citationId])
REFERENCES [dbo].[Citation] ([citationId])
GO
ALTER TABLE [dbo].[CitationAssociatedProgram] CHECK CONSTRAINT [FK_citationAssociatedProgram_Citation]
GO
ALTER TABLE [dbo].[CitationPenalty]  WITH CHECK ADD  CONSTRAINT [FK_CitationPenalty_Citation] FOREIGN KEY([citationId])
REFERENCES [dbo].[Citation] ([citationId])
GO
ALTER TABLE [dbo].[CitationPenalty] CHECK CONSTRAINT [FK_CitationPenalty_Citation]
GO
ALTER TABLE [dbo].[Correspondence]  WITH CHECK ADD  CONSTRAINT [FK_Correspondence_Staff] FOREIGN KEY([issuingStaffId])
REFERENCES [dbo].[Staff] ([staffId])
GO
ALTER TABLE [dbo].[Correspondence] CHECK CONSTRAINT [FK_Correspondence_Staff]
GO
ALTER TABLE [dbo].[Enforcement]  WITH CHECK ADD  CONSTRAINT [FK_Enforcement_ActivityType] FOREIGN KEY([relatedActivityTypeId])
REFERENCES [dbo].[ActivityType] ([activityTypeId])
GO
ALTER TABLE [dbo].[Enforcement] CHECK CONSTRAINT [FK_Enforcement_ActivityType]
GO
ALTER TABLE [dbo].[Enforcement]  WITH CHECK ADD  CONSTRAINT [FK_Enforcement_BusinessUnit_Agency] FOREIGN KEY([agencyId])
REFERENCES [dbo].[BusinessUnit] ([businessUnitId])
GO
ALTER TABLE [dbo].[Enforcement] CHECK CONSTRAINT [FK_Enforcement_BusinessUnit_Agency]
GO
ALTER TABLE [dbo].[Enforcement]  WITH CHECK ADD  CONSTRAINT [FK_Enforcement_BusinessUnit_Program] FOREIGN KEY([programId])
REFERENCES [dbo].[BusinessUnit] ([businessUnitId])
GO
ALTER TABLE [dbo].[Enforcement] CHECK CONSTRAINT [FK_Enforcement_BusinessUnit_Program]
GO
ALTER TABLE [dbo].[Enforcement]  WITH CHECK ADD  CONSTRAINT [FK_Enforcement_EnforcementType] FOREIGN KEY([enforcementTypeId])
REFERENCES [dbo].[EnforcementType] ([enforcementTypeId])
GO
ALTER TABLE [dbo].[Enforcement] CHECK CONSTRAINT [FK_Enforcement_EnforcementType]
GO
ALTER TABLE [dbo].[EnforcementCategory]  WITH CHECK ADD  CONSTRAINT [FK_EnforcementCategory_BusinessUnitCategory] FOREIGN KEY([categoryId])
REFERENCES [dbo].[BusinessUnitCategory] ([businessUnitCategoryId])
GO
ALTER TABLE [dbo].[EnforcementCategory] CHECK CONSTRAINT [FK_EnforcementCategory_BusinessUnitCategory]
GO
ALTER TABLE [dbo].[EnforcementCategory]  WITH CHECK ADD  CONSTRAINT [FK_EnforcementCategory_Enforcement] FOREIGN KEY([enforcementId])
REFERENCES [dbo].[Enforcement] ([enforcementId])
GO
ALTER TABLE [dbo].[EnforcementCategory] CHECK CONSTRAINT [FK_EnforcementCategory_Enforcement]
GO
ALTER TABLE [dbo].[EnforcementClassification]  WITH CHECK ADD  CONSTRAINT [FK_EnforcementClassification_Classification] FOREIGN KEY([classificationId])
REFERENCES [dbo].[Classification] ([classificationId])
GO
ALTER TABLE [dbo].[EnforcementClassification] CHECK CONSTRAINT [FK_EnforcementClassification_Classification]
GO
ALTER TABLE [dbo].[EnforcementClassification]  WITH CHECK ADD  CONSTRAINT [FK_EnforcementClassification_Enforcement] FOREIGN KEY([enforcementId])
REFERENCES [dbo].[Enforcement] ([enforcementId])
GO
ALTER TABLE [dbo].[EnforcementClassification] CHECK CONSTRAINT [FK_EnforcementClassification_Enforcement]
GO
ALTER TABLE [dbo].[EnforcementEntity]  WITH CHECK ADD  CONSTRAINT [FK_EnforcementEntity_Enforcement] FOREIGN KEY([enforcementId])
REFERENCES [dbo].[Enforcement] ([enforcementId])
GO
ALTER TABLE [dbo].[EnforcementEntity] CHECK CONSTRAINT [FK_EnforcementEntity_Enforcement]
GO
ALTER TABLE [dbo].[EnforcementEntity]  WITH CHECK ADD  CONSTRAINT [FK_EnforcementEntity_EnforcementEntityType] FOREIGN KEY([enforcementEntityTypeId])
REFERENCES [dbo].[EnforcementEntityType] ([enforcementEntityTypeId])
GO
ALTER TABLE [dbo].[EnforcementEntity] CHECK CONSTRAINT [FK_EnforcementEntity_EnforcementEntityType]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence]  WITH CHECK ADD  CONSTRAINT [FK_RegulatedInterestCorrespondence_Correspondence] FOREIGN KEY([correspondenceId])
REFERENCES [dbo].[Correspondence] ([correspondenceId])
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence] CHECK CONSTRAINT [FK_RegulatedInterestCorrespondence_Correspondence]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence]  WITH CHECK ADD  CONSTRAINT [FK_RegulatedInterestCorrespondence_RegulatedInterest] FOREIGN KEY([regulatedInterestId])
REFERENCES [dbo].[RegulatedInterest] ([regulatedInterestId])
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence] CHECK CONSTRAINT [FK_RegulatedInterestCorrespondence_RegulatedInterest]
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence]  WITH CHECK ADD  CONSTRAINT [FK_RegulatedInterestCorrespondence_RegulatedInterestCorrespondenceType] FOREIGN KEY([regulatedInterestCorrespondenceTypeId])
REFERENCES [dbo].[RegulatedInterestCorrespondenceType] ([regulatedInterestCorrespondenceTypeId])
GO
ALTER TABLE [dbo].[RegulatedInterestCorrespondence] CHECK CONSTRAINT [FK_RegulatedInterestCorrespondence_RegulatedInterestCorrespondenceType]
GO
ALTER TABLE [dbo].[RegulatedInterestInspection]  WITH CHECK ADD  CONSTRAINT [FK_RegulatedInterestInspection_RegulatedInterest] FOREIGN KEY([regulatedInterestId])
REFERENCES [dbo].[RegulatedInterest] ([regulatedInterestId])
GO
ALTER TABLE [dbo].[RegulatedInterestInspection] CHECK CONSTRAINT [FK_RegulatedInterestInspection_RegulatedInterest]
GO
ALTER TABLE [dbo].[RegulatedInterestInspection]  WITH CHECK ADD  CONSTRAINT [FK_RegulatedInterestInspection_RegulatedInterestInspectionType] FOREIGN KEY([regulatedInterestInspectionTypeId])
REFERENCES [dbo].[RegulatedInterestInspectionType] ([regulatedInterestInspectionTypeId])
GO
ALTER TABLE [dbo].[RegulatedInterestInspection] CHECK CONSTRAINT [FK_RegulatedInterestInspection_RegulatedInterestInspectionType]
GO
ALTER TABLE [dbo].[SiteCorrespondence]  WITH CHECK ADD  CONSTRAINT [FK_SiteCorrespondence_ActivityType] FOREIGN KEY([relatedActivityTypeId])
REFERENCES [dbo].[ActivityType] ([activityTypeId])
GO
ALTER TABLE [dbo].[SiteCorrespondence] CHECK CONSTRAINT [FK_SiteCorrespondence_ActivityType]
GO
ALTER TABLE [dbo].[SiteCorrespondence]  WITH CHECK ADD  CONSTRAINT [FK_SiteCorrespondence_SiteCorrespondenceType] FOREIGN KEY([siteCorrespondenceTypeId])
REFERENCES [dbo].[SiteCorrespondenceType] ([siteCorrespondenceTypeId])
GO
ALTER TABLE [dbo].[SiteCorrespondence] CHECK CONSTRAINT [FK_SiteCorrespondence_SiteCorrespondenceType]
GO
ALTER TABLE [dbo].[SiteInspection]  WITH CHECK ADD  CONSTRAINT [FK_SiteInspection_SiteInspectionType] FOREIGN KEY([siteInspectionTypeId])
REFERENCES [dbo].[SiteInspectionType] ([siteInspectionTypeId])
GO
ALTER TABLE [dbo].[SiteInspection] CHECK CONSTRAINT [FK_SiteInspection_SiteInspectionType]
GO
ALTER TABLE [dbo].[SiteInspection]  WITH CHECK ADD  CONSTRAINT [FK_SiteInspection_Staff] FOREIGN KEY([issuingStaffId])
REFERENCES [dbo].[Staff] ([staffId])
GO
ALTER TABLE [dbo].[SiteInspection] CHECK CONSTRAINT [FK_SiteInspection_Staff]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_StaffRole] FOREIGN KEY([staffRoleId])
REFERENCES [dbo].[StaffRole] ([staffRoleId])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_StaffRole]
GO
